body {
    background-color: skyblue;
    font-family: "Comic Sans MS", sans-serif;
}

.book {
    padding: 1rem;
    clear: left;
}
.book .book__cover {
    float: left;
    padding: 0 3rem 0 0;
    max-width: 300px;
}

.book__pages::after, .book__edition::after, .book__ean::after {
 content: " | ";
}