body {
    background-color: skyblue;
    font-family: "Comic Sans MS", sans-serif;
    overflow-x: hidden;
}

.shopping-cart {
    position: absolute;
    right: 2rem;
    cursor: pointer;
}
.shopping-cart__icon {
    height: 3rem;
}
.shopping-cart__amount {
    position: absolute;
    top: 0;
    left: 2.8rem;
    background-color: white;
    width: 1em;
    line-height: 1em;
    padding: .5rem;
    text-align: center;
    border-radius: 2rem;
}
.controls__sort {
    float: right;
    text-align: right;
}

#boeken {
    clear: both;
}

.book {
    padding: 1rem;
    clear: left;
}

.book .book__cover {
    float: left;
    max-width: 200px;
}

.book__info{
    margin-left: 220px;
}

.book .book__head {
    margin-top: 0;
    color: white;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.book__pages::after, .book__edition::after, .book__ean::after {
    content: " | ";
}

.book .book__price {
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.book__order-button {
    font-size: 1.5rem;
    float: right;
    display: block;
    text-decoration: none;
    color: white;
    padding: .5rem;
    border: solid 2px white;
    border-radius: 1rem;
}

.book__order-button:hover{
    font-weight: bold;
    cursor: pointer;
}

.validatie img {
    height: 1em;
    width: auto;
    border: 0;
    margin: 0 .3em;
}

@media screen and (min-width: 1250px ) {
    #boeken {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .book:nth-child(4n+2), .book:nth-child(4n+3) {
        background-color: lightgray;
    }
}
#getForm{
    display: none;
}
#getForm:checked ~ .order-form {
 transform: translateX(10vw);
}
.order-form{
    background-color: white;
    position: absolute;
    width: 80vw;
    min-height: 90vh;
    top: 1rem;
    transform: translateX(100vw);
    padding: 2rem;
    border: 1.5px solid deepskyblue;
    box-sizing: border-box;
    transition: transform .5s ease-out;
}
.order-form__cover {
    height: 3rem;
}