body {
    background-color: skyblue;
    font-family: "Comic Sans MS", sans-serif;
}

.shoppingcart {
    position: absolute;
    right: 2rem;
}
.shoppingcart__icon {
    height: 3rem;
}
.shoppingcart__amount {
    position: absolute;
    background-color: white;
    width: 1em;
    line-height: 1em;
    padding: .5rem;
    text-align: center;
    border-radius: 2rem;
}
.controls__sort {
    float: right;
    text-align: right;
}

#boeken {
    clear: both;
}

.book {
    padding: 1rem;
    clear: left;
}

.book .book__cover {
    float: left;
    padding: 0 3rem 0 0;
    max-width: 200px;
}

.book .book__head {
    margin-top: 0;
    color: white;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.book__pages::after, .book__edition::after, .book__ean::after {
    content: " | ";
}

.book .book__price {
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.validatie img {
    height: 1em;
    width: auto;
    border: 0;
    margin: 0 .3em;
}

@media screen and (min-width: 1250px ) {
    #boeken {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .book:nth-child(4n+2), .book:nth-child(4n+3) {
        background-color: lightgray;
    }
}